*{
 padding: 0;
 margin: 0;
 border: 0;
 outline: none;
 font-weight: 300;
 box-sizing: border-box;
}

a:link{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}