
/*
1rem = 10px
1.6rem = 16px
2rem = 20px
*/

html{
  font-size: 62.5%;
}

body{
  display: grid;
  grid-template-areas:
  "promo promo promo promo"
  "header header header header"
  "hero hero hero hero"
  "about about about about"
  "consultas consultas consultas consultas"
  "cursos cursos cursos cursos"
  "turmas turmas turmas turmas"
  "footer footer footer footer";

  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr 1fr ); */

  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


/* ------------------------ */
/* PROMOÇÃO */
/* ------------------------ */
.promo{
  grid-area: promo;
  background-color: var(--cor-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 60px;
}

.fa-gift{
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  transform: rotate(20deg);
  cursor: pointer;
  transition: 0.3s;
}

.fa-gift:hover{
  scale: 1.2;
  transform: rotate(-20deg);
}

.text-promo{
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  font-weight: 800;
  color: #000;
}


/*  RESPONSIVO PROMO */
@media screen and (max-width: 576px){
  .promo{
    height: 100px;
    padding: 5px;
  }

  .text-promo{
    font-size: 10px;
    text-align: center;
    margin-top: 0;
  }


} 

/* ------------------------ */
/* HEADER */
/* ------------------------ */
.header{
  grid-area: header;
  background-color: #fff;
}

/* LOGO */
.header .div-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  transition: 1s;
}

.header .div-logo:hover{
  scale: 1.1;
}

.header .div-logo img{
  width: 200px;
}

.header .header-container{
  display: flex;
  padding: 40px 50px;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header h1{
  color: var(--cor-secundaria);
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  transition: 0.6s ease-out;
}

.header a:hover h1{
  color: var(--cor-secundaria-hover);
}


/*  RESPONSIVO HEADER */
@media screen and (max-width: 576px){
  
  .header .div-logo{
  align-items: flex-start;
  max-width: 100px;
  margin-left: 50px;
  }

  .header .div-logo img{
  width: 80px;
  }

  .header .header-container{
  padding: 10px;
  }

  .header h1{
  color: #021f5e;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  }

}

/* ------------------------ */
/* HERO SECTION */
/* ------------------------ */
.hero{
  grid-area: hero;
  height: 78vh;
  border-top: 5px solid var(--cor-principal);
  background-image: linear-gradient(
    rgb(0, 0, 0, 0.54),
    rgba(2, 14, 44, 0.97)),
    url('../images/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.hero:after{
  position: absolute;
  content: url('../images/seta_preta.png');
  height: 35px;
  bottom: 40px;
  left: 50%;
  animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow{
  0%{ -webkit-transform: translateY(0); opacity: 0.3 ;}
  100% { -webkit-transform: translateY(1em); opacity: 1;}
}

.hero-textos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0 0 300px;
  width: 70%;
  height: 100%;
  gap: 25px;
}

.texto-direito{
  width: 30%;
  height: 100%;
}

.hero h2{
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
}

.hero h3{
  font-family: var(--font-secundaria);
  font-size: 2em;
  font-weight: 400;
  color: var(--cor-principal);
}

.fa-house-medical-circle-check{
  display: block;
  position: relative;
  font-size: 6em;
  left: 150px;
  top: 0px;
  color: #fff;

}

.btn-hero{
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.btn{
  background-color: var(--cor-principal);
  padding: 15px 25px;
  color: var(--cor-secundaria);
  font-weight: 600;
  font-size: 1.5em;
  border-radius: 12px;
}

.btn-agendar:hover{
  background-color: #fff;
  color: var(--cor-principal);
}

.btn-sabermais >a:link {
  background-color: var(--cor-secundaria);
  color: #fff;
}

.btn-sabermais:hover{ 
  background-color: var(--cor-secundaria-hover);
  color: #fff;
}

/* RESPONSIVO HERO */
@media screen and (max-width: 576px){
  .hero{
  height: 48vh;
  text-align: center;
  }

  .hero-textos{
  width: 100%;
  padding: 0;
  display: flex;
  text-align: center;
  gap: 0px;
  margin-top: 80px;
  }

  .texto-direito{
  display: none;
  width: 0;
  }

  .hero h2{
  font-size: 1em;
  line-height: 1.4;
  padding: 10px 20px;
  
  }

  .hero h3{
  padding: 10px 25px;
  font-size: 1em;
  }

  .fa-house-medical-circle-check{
  font-size: 2em;
  top: 10px;
  left: 45%;
  }

  .btn-hero{
  padding: 15px;
  display: flex;
  gap: 5px;
  margin: 0 0;
  }

  .btn{
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1em;
  border-radius: 10px;
  }

  .btn-sabermais{ 
  background-color: #021e58;
  color: #fff;
  }
} 

/* ------------------------ */
/* ABOUT */
/* ------------------------ */
.about{
  grid-area: about;
  background-color: #fff;
  display: flex;

}

.about .about-textos{
  width: 1080px;
  margin: 100px auto;
}

.about .about-textos h2{
  font-size: 48px;
  font-weight: 500;
  color: #021e58;
  text-align: center;
  margin-bottom: 24px;
}

.about .about-textos p{
  color: #021e58;
  font-family: var(--font-secundaria);
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align:center;
  margin-bottom: 24px;
}

.about .about-textos h2 strong{
  font-size: 60px;
  font-weight: 900;
}

.about-cards-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #021e58;
}

.about-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 33.3%;
  padding: 10px;
  text-align: center;
}

.fa-star,
.fa-eye,
.fa-flag{
  font-size: 4em;
  color: #021e58;
  margin-bottom: 24px;
}

.about-cards h4{
  font-family: var(--font-principal);
  font-size: 2em;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 24px;
}

.about .about-cards p{
  font-family: var(--font-secundaria);
  font-size: 18px;
  font-weight: 300;
}

/* RESPONSIVO  ABOUT */
@media screen and (max-width: 576px){
  .about .about-textos{
  width: 320px;
  margin: 50px auto;
  }

  .about .about-textos h2{
  font-size: 1em;
  }

  .about .about-textos p{
  font-size: 1em;
  padding: 0 15px;
  }

  .about .about-textos h2 strong{
  font-size: 2em;
  }

  .about-cards-container{
  flex-wrap: wrap;

  }

  .about-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding: 5px;
  text-align: center;
  }

  .fa-star,
  .fa-eye,
  .fa-flag{
  font-size: 2em;
  }

  .about-cards h4{
  font-size: 2em;
  text-align: center;
  margin-bottom: 5px;
  }

  .about .about-cards p{
  font-size: 1em;
  }
} 

/* ------------------------ */
/* CONSULTAS */
/* ------------------------ */
.consultas{
  grid-area: consultas;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-principal);
  max-width: var(--max-width-size);
  margin: 0 auto;
}

.consultas .image{
  height: 100%;
  width: 100%;
}

.btn-sabermais{
  color: #fff;
  background-color: var(--cor-secundaria);
}

.consultas .image-left{
  background: url('../images/curso.jpg') center no-repeat;
  background-size: cover;
}

.consultas .item{
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.consultas .item h3{
  font-size: 3em;
  font-family: var(--font-principal);
  font-weight: 700;
  color: var(--cor-secundaria);
}

.consultas .item p{
  font-size: 1.5em;
  font-family: var(--font-secundaria);
  font-weight: 300;
  color: var(--cor-secundaria-hover);
  margin: 10px;
}

.consultas .consultas-description{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.fa-clock,
.fa-location-dot{
  font-size: 2.5em;
  color: var(--cor-secundaria-hover);
}


/* RESPONSIVO CONSULTAS */
@media screen and (max-width: 576px){

  .consultas{
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr) ;
  }

  .consultas .item{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .consultas .item h3{
    font-size: 3em;
    margin-bottom: 10px;
  }

  .consultas .item p{
    font-size: 1em;
  }

  .fa-clock,
  .fa-location-dot{
  font-size: 1.3em;
  }
  

}

/* ------------------------ */
/* CURSOS */
/* ------------------------ */
.cursos {
  grid-area: cursos;
  background-color: var(--cor-cinza);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-cursos{
  width: 1300px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.fa-graduation-cap{
  font-size: 8em;
  color: var(--cor-principal);
  margin-top: 50px;
}

.cursos >h3{
  font-size: 4em;
  color: var(--cor-principal);
  font-family: var(--font-principal);
  font-weight: 800;
}

.cursos-card{ 
  width: 295px;
  /* height: 627px; */
  border-radius: 20px;
  background-color: rgb(57,57,57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.cursos .cursos-card >h3{
  font-size: 2em;
  text-align: center;
  color: var(--cor-principal);
  font-family: var(--font-principal);
  font-weight: 800;
}

.cursos .cursos-card >p{
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
}


.curso-list{
  display: flex;
  margin: 5px 0;
  font-family: var(--font-secundaria);
}

.fa-stopwatch,
.fa-file-circle-check,
.fa-chalkboard-user{
  font-size: 1.5em;
  color: var(--cor-principal);
}

.curso-list >p{
  font-size: 1.2em;
  margin-left: 10px;
  color: #fff;
  font-weight: 700;
  font-family: var(--font-secundaria);
}

.btn-curso{
  margin-top: 10px;
  padding: 10px 10px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  font-size: 1.7em;
  border-radius: 15px;
  font-weight: 800;
  display: inline-block;
  width: 250px;
  text-align: center;
}

.btn-esgotado{
  margin-top: 10px;
  padding: 10px 10px;
  background-color: crimson;
  color: #fff;
  font-size: 1.em;
  border-radius: 10px;
  font-weight: 800;
  display: inline-block;
  width: 250px;
  text-align: center;
}

.fa-whatsapp{
  font-size: 1.2em;
}

.preco-cursos{
  font-size: 3em;
  color: var(--cor-principal);
}

.cursos-card >span{
  font-size: 1.2em;
  text-align: center;
  font-weight: 800;
  color: #fff;
  font-family: var(--font-principal);
  margin-top: 20px;
}

/* RESPONSIVO CURSOS */
@media screen and (max-width: 768px){

  .container-cursos{
  width: 800px;
  flex-wrap: wrap;
  gap: 10px;
  /* margin: 10px auto; */
  justify-content: center;
  align-items: center;
  }

  .fa-graduation-cap{
  font-size: 5em;
  margin-top: 20px;
  }

  .cursos >h3{
  text-align: center;
  font-size: 4em;
  line-height: 55px;
  }

} 

@media screen and (max-width: 576px){
  
  .container-cursos{
  width: 300px;
  padding: px;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
  padding: 20px 5px;
  }

  .fa-graduation-cap{
  font-size: 5em;
  margin-top: 20px;
  }

  .cursos >h3{
  text-align: center;
  font-size: 3em;
  line-height: 40px;
  }

} 

/* ------------------------ */
/* TURMAS */
/* ------------------------ */
.turmas-container{
  grid-area: turmas;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.turmas img{
  height: 100%;
  transition: 0.5s ease-in-out;
}

.turmas img:hover{
  opacity: 0.5; 
}

/* RESPONSIVO TUMAS TABLET */
@media screen and (max-width: 768px){

  .turmas-container{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
} 


/* RESPONSIVO MOBILE TABLET */
@media screen and (max-width: 576px){

  .turmas-container{
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(4, 1fr);
  }
} 

/* ------------------------ */
/* FOOTER */
/* ------------------------ */
.footer{
  grid-area: footer;
  background-color: var(--cor-principal);
  height: 300px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer h4{
  font-size: 3em;
  color: var(--cor-secundaria);
  font-weight: 800;
}

.footer .lista{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 25px;
}

.footer nav ol li{
  list-style-type: none;
  font-family: var(--font-secundaria);
}

.footer nav ol li a{
  font-size: 1.5em;
  color: #ffff;
  font-weight: 600;
}

.footer nav ol li a:hover{
  color: var(--cor-secundaria-hover);
  font-weight: 800;
}

.footer a:visited{
  color: var(--cor-secundaria);
}

.footer p{
  font-size: 1em;
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
}

.social .fa-whatsapp,
.fa-facebook,
.fa-instagram{
  font-size: 3em;
  margin: 30px 10px;
}

.desenvolvido-por{
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 30px;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 10px;
  }


.desenvolvido-por >a{
  color: #fff;
  font-weight: 800;
}

.desenvolvido-por > a:visited{
  font-family: var(--font-principal);
  color: #fff;
}


@media screen and (max-width: 576px){
  .footer{
  height: 400px;
  justify-content: center;
  align-items: center;
  }

  .footer h4{
  font-size: 3em;
  text-align: center;
  }

} 